@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



*{
  margin: 0;
  padding: 0;
}
body{
 background-color: rgb(237, 236, 236);
 font-family: sans-serif;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px gray;
  height: 55px;
  font-size: 17px;
  text-transform: capitalize;
  color: #007fff;
  font-weight: bolder;

}
.logoImg{
  height: 40px;
  width: 150px;
}
.navLink{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 13%;
}
.signin,.logout{
  cursor: pointer;
}
.startBTN{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: #007fff;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
}
.mainContainer{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translate(-50%,-50%);

}
.question{

  margin-bottom: 20px;
  color: #fff;
  border-radius: 5px ;
  background-color: #007fff;
  width: 500px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  text-align: center;
}
ul li{
  list-style: none;
  background-color: #fff;
  box-shadow: 3px 5px 5px gray;
  border-radius: 5px;
  display: flex;
  width: 300px;
  justify-content: center;
  margin: 13px;
  padding: 10px 0px;
  cursor: pointer;
}
ul li:checked{
  background-color: red;
}
ul li:hover{
  background-color: #00BFFF;
}
.btnDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
margin-top: 10px;
}
.outOff{
  font-size: 14px ;
  font-weight: bold;
}
.nextBtn{
  padding: 8px 20px;
  border-radius: 5px;
cursor: pointer;
box-shadow: 3px 5px 5px gray;

  color: #fff;
  border: none;
  background-color: #007fff;

}
.checked{
  background-color: #00BFFF;
}
.circle{
  background-color: #007fff;
  color: #fff;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}



.skill-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-container .skill {
  position: relative;
  margin-right: 40px;
}

.skill-container .skill .outer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0 0 0 /.15),
      -6px -6px 10px -1px rgba(255 255 255 / .7);
}

.skill-container .skill .outer .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgba(0 0 0/ .2),
      inset -4px -4px 6px -1px rgba(255 255 255 / .7),
      -.5px -.5px 0px rgba(255 255 255 / 1),
      .5px .5px 0px rgba(0 0 0 /.15),
      0px 12px 10px -10px rgba(0 0 0 / 0.05);
}

.skill-container .skill .outer .inner .number {
  font-weight: 800;
}


.skill-container .skill:nth-child(1) .outer .inner .number {
  color: #f75023;
}

.skill-container .skill:nth-child(2) .outer .inner .number {
  color: #4fa0ff;
}

.skill-container .skill:nth-child(3) .outer .inner .number {
  color: #7811f7
}

circle {
  fill: none;
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  transition: 2s linear;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

.skill-container .skill:nth-child(1) circle {
  stroke: #f75023;
}

.skill-container .skill:nth-child(2) circle {
  stroke: #4fa0ff;
}

.skill-container .skill:nth-child(3) circle {
  stroke: #7811f7;
}